* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 50px;
}
ol, ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.navbar-fixed-top {
    border: 0;
}
