<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../static/img/logo.jpg">
        <title>OA System</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <!-- Fullcalendar -->
        <link rel="stylesheet" href="../static/lib/fullcalendar/fullcalendar.min.css">
        <!-- jQuery.qtip -->
        <link rel="stylesheet" href="../static/lib/qtip/jquery.qtip.min.css">
        <!-- normalize.css -->
        <link rel="stylesheet" href="../static/lib/normalize.css">
        <!-- common.css -->
        <link rel="stylesheet" href="../static/css/common.css">

        <link rel="stylesheet" href="../static/css/index.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- Warning: Respond.js doesn't work if you view the page via file:// -->
        <!-- [if lt IE 9]>
            <script src="lib/html5shiv.min.js"></script>
            <script src="lib/respond.min.js"></script>
        <![endif] -->
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-logo" href="#">
                        <span class="navbar-logo-txt">OA协同办公系统</span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" role="presentation">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                <span id="userName">Dick</span>
                                <span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">个人信息</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;退出登录</a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">
                            <span class="glyphicon glyphicon-bell"></span>
                            通知&nbsp;<span class="badge">0</span>
                        </a></li>
                        <li><a href="#">Link2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <a href="#">Overview</a>
                        </li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="../static/lib/jquery-2.0.3.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="../static/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <script src="../static/js/index.js"></script>
    </body>
</html>
