<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../static/img/logo.jpg">
        <title>Login</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <!-- normalize.css -->
        <link rel="stylesheet" href="../static/lib/normalize.css">

        <link rel="stylesheet" href="../static/css/login.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- Warning: Respond.js doesn't work if you view the page via file:// -->
        <!-- [if lt IE 9]>
            <script src="lib/html5shiv.min.js"></script>
            <script src="lib/respond.min.js"></script>
        <![endif] -->
    </head>
    <body>
        <div class="header">
            <div class="container">
                <a href="#" class="header-logo" title="中国公益慈善研究院 http://sop.sysu.edu.cn/">
                    <span class="logo-txt">中国公益慈善研究院</span>
                    <span class="logo-txt-en">SCHOOL OF PHILANTHQPY.SYSU</span>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <form class="login-form">
                    <h4 class="form-header">OA协同办公系统</h4>
                    <div class="form-group">
                        <label for="inputUsername" class="sr-only">用户名</label>
                        <input type="text" id="inputUsername" class="form-control" placeholder="用户名" required autofocus tabindex="1">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">密码</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required tabindex="2">
                    </div>
                    <div class="input-group verifyArea">
                        <label for="inputVerify" class="sr-only">验证码</label>
                        <input type="text" class="form-control" id="inputVerify" placeholder="验证码" required tabindex="3">
                        <span class="input-group-btn">
                            <a href="#" class="btn verifyImg"></a>
                        </span>
                    </div>
                    <div class="validateErrorInfo" id="validateErrorInfo"></div>
                    <div class="checkbox" tabindex="4">
                        <label><input type="checkbox" value="remember-me">Remember Me</label>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-lg btn-primary btn-block" id="loginBtn" tabindex="5">登录</a>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="container">
            <p>版权所有 © <a href="http://sop.sysu.edu.cn/">中国公益慈善研究院</a></p>
            </div>
        </div>
        <!-- jQuery -->
        <script src="../static/lib/jquery-2.0.3.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="../static/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

        <script src="../static/js/login.js"></script>
    </body>
</html>
